<!-- <app-ng-for></app-ng-for> -->
<!-- <div class="container" [style.margin.px] = "30">
  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <app-child
        [married]="isMarried"
        [isAge] = "age"
        [name] = "'cuongnx'"
        (txtFullName) = "onHandleFullName($event)"
        (txtPhone) = "onHandlePhone($event)"
        ></app-child>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <app-user-list
      [users] = "users"
      [fullname] = "name"
      [phone] = "phone"></app-user-list>
    </div>
  </div>
</div> -->
<!-- <app-pipe></app-pipe> -->
<app-custom-pipe-one></app-custom-pipe-one>
